# dependencias
node_modules/

# variables de entorno — NUNCA al repo
.env

# builds
dist/
.next/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
**/.terraform/
*.tfstate.*
*.tfplan
tfplan
tfplan.*
# sistema
.DS_Store
*.log

**/payload.zip

