# dependencias
node_modules/

# variables de entorno — NUNCA al repo
.env
backend/build_lambda/
# builds
dist/
.next/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
**/.terraform/
*.tfstate.*
*.tfplan
tfplan
tfplan.*
# sistema
.DS_Store
*.log

**/payload.zip
infra/modules/lambda/payload.zip
infra/tfplan*
